/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans:400,700|Dosis:200,300,400,500,600,700,800);

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #54C4C3;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #54C4C3;
    color: #fff;
    text-shadow: none;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   General styles
   ========================================================================== */

html,
body {
    height: 100%;
}

body {
    font-family: "PT Sans", 'Helvetica', sans-serif;
    font-size: 14px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arvo', 'Helvetica Black', Arial, sans-serif;
  padding: 0;
}
h1,
h2 {
  color: #54C4C3;
  padding: 10px 15px;
  text-align: center;
}
h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-family: "PT Sans", 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
p {
    line-height: 23px;
}

section {
  min-height: 100vh;
  position: relative;
}
a {
    cursor: pointer;
}
a:focus,
a:active {
  outline: none;
}
section a {
    color: #FF7700;
    text-decoration: underline;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
     -o-transition: all .2s ease;
      transition: all .2s ease;
}
section a:hover {
    color: #000;
}

/* ==========================================================================
   Animated
   ========================================================================== */

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: transparent;
    position: fixed;
    font-weight: 400;
    text-transform: uppercase;
    overflow: visible!important;
    z-index: 300;
}
header .isa-logo {
    background: url(../images/isa-logo.png) no-repeat top;
    background-size: cover;
    margin: 10px 10px 0;
    width: 150px;
    height: 48px;
    float: left;
}
header .navbar-collapse ul li a {
    color: #fff;
    font-size: 14px;
    border: 1px solid transparent;
}
header .navbar-collapse ul li a:hover,
.active a {
    color: #4FC4C5;
    border: 1px solid #4FC4C5!important;
}
header nav ul {
    display: inline;
    padding: 0;
    margin: 0;
    list-style: none;
}
header nav ul li {
    padding: 0;
    position: relative;
    float: left;
    list-style: none;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar {
    border-radius: 0;
    padding: 10px 0 20px;
}

#buscabasisa14 {
	font-size:10px !important;
}


.navbar-bgr {
    background-color: rgba(255,255,255,.6)
}
.nav-menu li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.navbar-nav>li>a,
.navbar-nav>li>span {
    padding: 10px;
    display: block;
    margin: 0;
}
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: inherit;
}
.navbar-right {
    float: right;
}
.navbar-right ul {
    float: left;
    margin: 0;
}
.navbar-right li {
    float: left;
    padding: 10px;
    height: 60px;
    line-height: 60px;
    margin-top: 5px;
    list-style: none;
}
.navbar-right li ul {
    visibility: visible;
    opacity: 1;
}
.navbar-toggle {
    padding: 10px;
    margin: 7px 15px 0 0;
}
.navbar-toggle i {
    font-size: 24px;
    color: #fff;
}
.navbar-right .dropdown {
    margin-top: -12px;
}
.navbar-right .dropdown .btn {
    padding: 10px;
    border-radius: 0;
}
.navbar-right .dropdown .btn:active,
.navbar-right .dropdown .btn:focus,
.navbar-right .open>.dropdown-toggle.btn-default {
    background-color: #fff;
}
.navbar-right .dropdown .dropdown-menu li {
    width: 100%;
    height: auto;
    padding: 0;
}
.navbar-right .dropdown .dropdown-menu li a {
    color: #000;
    padding: 5px 10px;
    text-align: left;
}
.navbar-right .dropdown .dropdown-menu li a:hover {
    color: #fff!important;
    background-color: #54C4C3;
    border: none;
}
.navbar-white {
    background-color: rgba(255,255,255,.95);
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-white .isa-logo {
    background-position: bottom;
}
.navbar-white .navbar-collapse ul li a {
    color: #54C4C3;
}
.navbar-white .navbar-right .dropdown .btn {
    border-color: #54C4C3;
    color: #54C4C3;
}
.navbar-white .navbar-header .navbar-toggle i {
    color: #515E66;
}
.headroom--pinned {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.headroom--unpinned {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    top: -100px;
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
    background: #54C4C3 url(../images/hero.jpg) no-repeat fixed center;
    margin-top: 0px;
    text-align: center;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero a span {
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 30px;
}
.hero-logo {
    background: url(../images/hero-logo.png) no-repeat;
    background-size: cover;
    width: 200px;
    height: 184px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -100px;

} 
.copy {
    width: 100%;
    height: 200px;
    font-size: 18px;
    top: 50%;
    margin-top: 20px;
    text-align: center;
    position: absolute;
}
.copy i {
    margin-right: 5px;
}
.copy p {
  color: #fff;
  margin: 25px 0 25px;
}
.copy i:last-child {
    margin-left: 20px;
}

/* ==========================================================================
   FORMS
   ========================================================================== */

.form-control {
    width: 100%!important;
    height: 40px;
    border: 1px solid #fff;
    background: transparent;
    margin-right: 5px;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #fff;
    background: #fff;

}
.form-inline .form-group {
    vertical-align: 0;
    width: 500px;
}
input[type="text"], button, textarea {
    border-radius: none;
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
        -ms-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.btn {
    padding: 9px 10px;
    border-radius: 3px;
    text-decoration: none;
}
.btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-default:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}
.btn-primary {
    background: #54C4C3;
    border: 1px solid #54C4C3;
    color: #fff;
}
.btn-primary:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}


.btn-primary-invert {
    background: #54C4C3;
    border: 1px solid #54C4C3;
    color: #fff;
}
.btn-primary-invert:hover {
    border: 1px solid #fff;
    background: #515E66;
    color: #fff;
}

/* ==========================================================================
   Sections
   ========================================================================== */

#speakers,
#about,
#tickets,
#sponsors {
  padding-top: 50px;
}
#about,
#newsletter,
footer {
    display: table;
    width: 100%;
}
#about .container-fluid,
#newsletter .container-fluid,
footer .container-fluid {
    display: table-cell;
    vertical-align: middle;
}

/* Acerca */

#about {
    background: url(../images/isa-about.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}
#about h4 {
    color: #54C4C3;
}
.content-block {
    width: 400px;
    height: 340px;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -200px;
    position: absolute;
    padding: 20px;
    background: #fff;
}
#about h2 {
    text-align: left;
}

/* Tickets */

#tickets {
    background-color: #54C4C3;
	min-height: 0vh;
	padding-bottom:60px;
}
#tickets h2 {
    color: #fff;
	margin-bottom: 0;
}

#tickets h4 {
    color: #000000;
	text-align:center;
	margin-bottom:30px;
}

#tickets button.comprando
{
	width:100%;
}

#tickets button.selected
{	
	background-color:white;
	text:black;
}

#tickets .spacer_tickets
{
	height:60px;
}

#tickets .buy_form
{
	margin-bottom:30px;
}

/* Newsletter */

#newsletter,
footer {
    display: table;
    width: 100%;
}
#newsletter .container-fluid,
footer .container-fluid {
    display: table-cell;
    vertical-align: middle;
}
#newsletter {
    background-color: #515E66;
    min-height: 40%;
    text-align: center;
    color: #ECF0F4;
}
#newsletter h3 {
    margin: 0 0 30px;
    padding: 0;
}

#newsletter button
{
	padding: 9px 30px;
}

/* Sponsors */


#sponsors {
    text-align: center;
    min-height: inherit;
    padding-bottom: 60px;
}
#sponsors a {
    margin: 20px;
    display: inline-block;
}

#sponsors img {
    width: 200px;
}

#sponsors h3 {
	font-family: 'Dosis', sans-serif;
	color:#515E66;
	font-size:24px;
}

/* Footer */

ul.social-networks {
    padding: 0;
    margin: 0 0 20px;
}
ul.social-networks li {
    font-size: 18px;
    display: inline-block;
    padding: 0;
    list-style: none;
}
ul.social-networks li a {
    color: #808080;
    text-decoration: none;
    padding: 5px;
}
ul.social-networks li a:hover {
    color: #FF7700;
}
footer {
    background-color: #151515;
    min-height: inherit;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
footer ul {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
}
footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 28px;
}
footer ul li a {
    width: 75px;
    height: 75px;
    line-height: 75px!important;
    display: block;
    color: #fff;
    border: 3px solid #fff;
    -webkit-transition: all .1s ease;
       -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
         -o-transition: all .1s ease;
            transition: all .1s ease;
}
footer ul li a:hover,
footer ul li a:active,
footer ul li a:focus {
    text-decoration: none;
    color: #54C4C3;
    border-color: #54C4C3;
}

footer .copyright {
    width: 100%;
    position: absolute;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    bottom: 10px;
}

footer .copyright a
{
	color: #d1d1d1;
}

#sponsors .ixda_global
{
    width: 100%;
    color: #54C4C3;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 50px 0 0 0;
	
}

/* ==========================================================================
   Speaker grid
   ========================================================================== */

#speakers h3 {
	font-family: 'Dosis', sans-serif;
	font-size:20px;
	color:#515E66;
	text-align:center;
	}

.speaker-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.speaker-block div {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: left;
    color: #fff;
    padding: 30px 20px;
    background: rgba(84, 196, 195, .9);
    opacity: 0;
    z-index: 100;
    -webkit-transition: all .1s ease;
       -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
         -o-transition: all .1s ease;
            transition: all .1s ease;
}
.speaker-block div:hover {
    opacity: 1;
}
.speaker-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 200px
}
.speaker-grid li span:hover {
    opacity: 1;
}
.speaker-grid li > a,
.speaker-grid li > a img,
.speaker-grid li > .speaker-soon {
    border: none;
    outline: none;
    display: block;
    position: relative;
    max-width: 200px;
}
.speaker-grid li > .speaker-soon {
    background-color: #515E66;
    width: 200px;
    height: 200px;
}
.unknown {
    background: url(../images/speakers/unknown.png) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 60px;
    height: 115px;
    top: 50%;
    left: 50%;
    margin-top: -57px;
    margin-left: -30px;
    z-index: 2;
}
.speaker-grid li.grid-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 15px;
    left: 50%;
    margin: -25px 0 0 -15px;
}

.grid-expander {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    text-align: left;
    height: 0;
    overflow: hidden;
}

.grid-expander-inner {
    padding: 50px 30px;
    height: 100%;
}

.grid-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.grid-close::before,
.grid-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.grid-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.grid-close:hover::before,
.grid-close:hover::after {
    background: #333;
}
.grid-details {
    width: 100%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.grid-details {
    padding: 0 40px 0 20px;
}

.grid-fullimg {
    display: none;
}

.grid-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.grid-details h3 {
    margin-bottom: 10px;
}

.grid-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}

.grid-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}

.grid-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}

.grid-details a:hover {
    border-color: #999;
    color: #999;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 1450px) {

}

/* IPAD ----------- */

@media only screen
and (max-width : 1023px) {
    .navbar-collapse {
        text-align: center;
    }
    header .navbar-collapse ul li a {
        color: #54C4C3;
        border: 1px solid transparent;
    }
    header .navbar-collapse ul li a:hover,
    .active a {
        text-decoration: none!important;
        border: 1px solid #54C4C3!important;
        color: #54C4C3;
    }
    header .isa-logo {
        background-position: bottom;
    }
    .navbar {
        background-color: rgba(255,255,255, .95);
    }
    .navbar-right li {
        float: none;
    }
    .navbar-right {
        float: none;
    }
    .navbar-right .dropdown .btn-default {
        border-color: #54C4C3;
        color: #54C4C3;
        width: 100%;
    }
    .navbar-right .dropdown .dropdown-menu li a {
        text-align: center;
    }
    .navbar-header .navbar-toggle i {
        color: #515E66;
    }
    .sponsor-grid {
        line-height: 100px;
    }
}

/* IPHONE ----------- */

@media only screen
and (max-width : 767px) {

}
