/* Styles Basics */

body{
	padding-top: 0;
	font-family: 'Dosis', sans-serif;
}

body h1{
	font-size: 30px;
}

body h2{
	font-size: 26px;
	margin-bottom: 10px;
  	padding-top: 10px;
}

body h3{
	font-size: 22px;
}

@font-face {
	font-family: 'isa';
	src:url('fonts/isa.eot');
	src:url('fonts/isa.eot') format('embedded-opentype'),
		url('fonts/isa.woff') format('woff'),
		url('fonts/isa.ttf') format('truetype'),
		url('fonts/isa.svg#isa') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'isa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-mail:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-youtube:before {
	content: "\e603";
}
.icon-lanyrd:before {
	content: "\e604";
}

/* Styles for hero container */

.previous_edition{
	float: left;
}

.main-header .lang{
	float: left;
	margin-left: 0;
}

.main-header .main_menu{
	float: right;
	position: absolute;
  	right: 3%;
}

/* Styles for top container */

.container.top{  
	background: transparent url(https://confnu-staging.s3.amazonaws.com/conference_editions/10/cover/cover_poster-6.jpg) center center no-repeat;
	background-size: cover;"          
	opacity: .99;
	display: table;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	color: #FFFFFF;
}

.top_content{
	margin: 0 auto;
	width: 80&;
	text-align: center;
	padding-top: 10%;
}

/* Styles for speakers container */

.container.speakers{
	margin: 100px 0;
	text-align: center;
}

.speakers .post {
	min-width: 160px;
	max-width: 24.5%;
	margin: 0;
	transition: margin 0.5s ease-in-out;
	-webkit-box-flex: 1 1 160px;
	-moz-box-flex: 1 1 160px;
	-webkit-flex: 1 1 160px;
	-ms-flex: 1 1 160px;
	flex: 1 1 160px;
	display: inline-block;
}

.speakers .attachment-people-grid {
	width: 100%;
	height: auto;
	display: block;
}

.speakers .grid-post-person {
	width: 100%;
	height: 181px;
	position: relative;
	top: -181px;
	margin-bottom: -181px;
	background-color: rgba(252, 226, 0, 0.8);
	padding: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	font-size: 1.5rem;
	letter-spacing: -1px;
	line-height: 1;
	box-sizing: border-box;
	opacity: 0;
	filter: alpha(opacity=0);
}

.speakers .post-text {
	position: absolute;
	left: 0;
	padding: 50px 30px;
	background-color: #fff;
	display: none;
	width: 100%;
	box-sizing: border-box;
	background-color: yellow;
}

/* Styles for isa container */

.isa .isa_image img{
	width: 300px;
	height: 300px;	
}

.isa .isa_image{
	display: inline-block;
}

.isa .description{
	  display: inline-block;
	  max-width: 700px;
	  margin-left: 50px;
	  vertical-align: top;
}

/* Styles for sponsors container */

.sponsors_categories{
	border: 1px solid #CCC;
}
.sponsors_categories div{
	width: 24%;
	height: 300px;
	min-width: 300px;
	border: 1px solid #CCC;
	float: left;
}

/* Styles for footer container */

.container.social_networks{
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #ddd;
	text-align: center;
  	padding: 50px 0;
}

.social_networks{
	list-style: none;
	display: inline-block;
  	padding: 0;
}

.social_networks h4{
	display: inline-block;
}

.social_networks span{
	display: none;
}

/* Styles for early birds container */

.container.early_birds{
	  width: 100%;
	  text-align: center;
	  border-bottom: 1px solid #DDD;
	  border-top: 1px solid #ddd;
	  padding: 40px 0;
}

.container.early_birds h2{
	  margin-bottom: 30px;
}

.container.early_birds span{
	  padding: 10px;
	  border: 1px solid #BBB;
	  border-radius: 7px;
	  font-size: 22px;
	  margin: 10px;
}


